.pt { 
  border-style: solid; 
  border-width: 2px; 
  border-radius: 50%; 
  cursor: pointer; 
  height: 2px; 
  left: 1px; 
  position: absolute; 
  top: 0px;
  transition: all 500ms ease-in-out; 
  width: 1px; 
  z-index: 500
}

.pt.fade { opacity: 0.2 }

.pt.highlight { border-width: 4px }

.pt:hover { border-width: 4px }