.sequence {
  align-items: stretch;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 2px 1px 3px 1px;
  padding: 0px 0px 0px 8px;
  transition: opacity 500ms ease-in-out;
  width: calc(100% - 6px);
}