$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$primary-bg-color: #fff;

@mixin border($width: 1px, $style: solid, $color: $primary-bg-color) {
  border: $width $style $color;
}

@mixin disabled {
  cursor: not-allowed;
  pointer-events: none;
}

@mixin filtered {
  opacity: 0.15;
}

@mixin fx($dir: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin fx-centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin fx-stretch {
  align-items: stretch;
  justify-content: stretch;
}

@mixin hidden {
  opacity: 0 !important;
}

@mixin interactive {
  cursor: pointer;
}

@mixin layer($level: 1) {
  z-index: $level * 100;
}

@mixin no-text-select {
  user-select: none;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin transition($property: all) {
  transition: $property 500ms ease-in-out;
}
