@use 'globals';

.menu-button {
  @include globals.transition;
  @include globals.fx;
  @include globals.fx-centered;
  @include globals.interactive;
  @include globals.no-text-select;
  @include globals.border($color: #999);
  @include globals.layer(10);

  background-color: globals.$primary-bg-color;
  margin: 0 10px 0 10px;
  padding: 5px;
  width: 100px;
}

.menu-button.hidden {
  @include globals.disabled;
  @include globals.hidden;
}
