@use 'globals';

.category {
  @include globals.transition;
  @include globals.border($width: 2px);

  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.median {
  @include globals.transition;
  @include globals.border($style: dashed);
  @include globals.layer;

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
