@use 'globals';

html {
  font-family: globals.$font-stack;
}

.disabled { @include globals.disabled; }
.filtered { @include globals.filtered; }
.hidden { @include globals.hidden; }

.container {
  @include globals.fx($dir: column);

  background-color: globals.$primary-bg-color;
  height: 99%;
  left: 0.5%;
  overflow-x: hidden;
  position: absolute;
  top: 0.5%;
  width: 99%;
}

.panel {
  @include globals.fx;

  align-items: center;
  flex-grow: 0.25;
  justify-content: flex-end;
}

.timeline {
  @include globals.fx($dir: column);

  flex-grow: 8;
  justify-content: space-evenly;
}
