@use 'globals';

.sequence {
  @include globals.transition(opacity);
  @include globals.fx;
  @include globals.fx-stretch;

  background-color: #eee;
  margin: 2px 1px 3px 1px;
  padding: 0 0 0 8px;
  width: calc(100% - 6px);
}
